@font-face {
  font-family: Cormorant;
  src: url(./assets/Cormorant-VariableFont_wght.ttf);
}
body{
  margin: 0;
  padding: 0;
  --text: #181818;
  --background: #FFFBE9;
  --primary: #AD8B73;
  --secondary: #CEAB93;
  --accent: #E3CAA5;
  
}
* {
  margin: 0;
  padding: 0;
  font-family:  serif;
  font-size: 1.1rem;
 }
 #root{
  margin: 0;
 }
 li{
  list-style: none;
 }